@import "../../shared/styles/theme.scss";
@import "../../shared/styles/global-button.scss";


.base-container{
  background-color: $purple-color;
  
}
.secondary-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding-inline: 75px;
    padding-top: 40px;
  }
  a{
    text-decoration: none;
    color: $white-color;
    font-size: 18px;
    padding: 8px;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  .nav-links a {
    margin-right: 16px;
  }
  
  // .logo {
  //   height: 100%;
  //   display: flex;
  //   align-items: center;
  // }
  .logo {
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}
.logo h1{
   color: $white-color;
    font-size: 40px;
    font-weight: 700;
}

  