<app-secondary-navbar></app-secondary-navbar>
<div class="landing-page-container">
    <section id="home" #home>
    <!-- <div class="section-container1">
        <h1>Prop Swift</h1>
        <p>A property Management system that helps you track property Rent, Receipts Details, Payment Details and Expenses.</p>
        <form (submit)="searchProperty()">
          <input type="text" name="propertyType" placeholder="Nairobi, Kenya">
          <button type="submit">Search</button>
        </form>
    </div> -->
    <div fxLayout="column" fxLayoutAlign="center center">
      <div class="background-image"></div>
      <div class="content">
        <h1>Prop Swift</h1>
        <p>A property Management system that helps you track property Rent, Receipts Details, Payment Details and Expenses.</p>
        <div class="search_property">
          <div fxLayout="row" fxLayoutAlign="start start" class="form-design">
          <div appearance="outline" fxFlex="80">
            <input matInput placeholder="Nairobi, Kenya" class="search_input">
          </div>
          <button mat-raised-button class="search_btn" fxFlex="20">Search</button>
        </div>
        </div>
        
          <!-- <div class="search_property">
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
              <div fxFlex="70">
                <input class="search_input" type="text" id="search_input"
                        placeholder="Nairobi, Kenya">
              </div>
              <div fxFlex="20">
                <button mat-button class="search_btn" id="search_btn"
                        (click)="searchProperty()">Search
                </button>
              </div>
            </div>
          </div>
         -->
        
      </div>
    </div>
    
  </section>
  <section id="services">
    <div class="container">
      <h1>Discover how we can help you</h1>
      <div class="btn-group">
        <button class="btn btn-primary">Managing</button>
        <button class="btn btn-primary">Renting</button>
        <button class="btn btn-primary">Tracking</button>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="service-box">
            <img src="../../../../assets/img/Rent img.png" alt="Service 1">
            <h2>Renting houses</h2>
            <p>We're creating a seamless online experience - from shopping on the largest rental network, to applying, to paying rent.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <img src="../../../../assets/img/Managing property .png" alt="Service 2">
            <h2>Managing your properties</h2>
            <p>No matter waht you take in matters property, we can help you navigate a successful way</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <img src="../../../../assets/img/Track .png" alt="Service 3">
            <h2>Track your receipts</h2>
            <p>Keeping up with with when to pay, when you paid and who you paid can be hard. We track all that for you. </p>
          </div>
        </div>
        
      </div>
      <div class="more-btn">
          <button class="search-button">View More</button>
        </div>
    </div>
  </section>
  <section id="about" #about>
    <div class="container">
      <h1 class="title">About Us</h1>
      <h1 class="section-description">We are <br> managing Experts</h1>
      <p>Managed services is the practice of outsourcing the responsibility for remaining
        , and anticipating need for, a range of processes and functions, ostensibly for the purpose 
        of improved operations and reduced budgetary expenditure through the reduction of directly-employed staff.
      </p>
    <button>Contact Us</button>

    </div>
    
  </section>
  
  <section id="contact" #contact>
    <h1>Contact Us Section</h1>
    <p>Get in touch with us.</p>
  </section>
</div>
