<app-secondary-navbar></app-secondary-navbar>
<div class="landing-page-container">
    <section id="home" #home>
    <div class="section-container1">
        <h1>Prop Swift</h1>
        <p>A property Management system that helps you track property Rent, Receipts Details, Payment Details and Expenses.</p>
        <form class="example-form">
            <mat-form-field class="example-full-width">
            <span matPrefix> </span>
            <input type="text" matInput placeholder="Search" name= "search" [(ngModel)]= "search">
            <button mat-raised-button class="search-button">Search</button>
            </mat-form-field>
            <br/>
            {{search}}
        </form>
    </div>
    
  </section>
  
  <section id="about" #about>
    <h1>About Section</h1>
    <p>Learn more about our company.</p>
  </section>
  
  <section id="services" #services>
    <h1>Services Section</h1>
    <p>Check out our services.</p>
  </section>
  
  <section id="contact" #contact>
    <h1>Contact Us Section</h1>
    <p>Get in touch with us.</p>
  </section>
</div>
