@import '../../../shared/styles/theme.scss';
@import '../../../shared/styles/global-button.scss';
@import '../../../shared/styles/search-input.scss';
@import '../../../shared/styles/search-button.scss';

.section-container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    font-size: 30px;
    height: 100vh;
}
.section-container1 h1,p,form{
    margin-bottom: 75px;
}
.section-container1 h1{
    font-size: 60px;
    color: black;
    font-weight: 600;
}
.section-container1 p{
    font-size: 20px;
}
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../../../assets/img/Rent\ img.png');
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
  }
  .content {
    padding-top: 100px;
    text-align: center;
    text-shadow: none;
  }
  .content *{
    margin-bottom: 100px;
  }
  h1 {
    color: black;
    font-size: 5em;
    margin-bottom: 0.5em;
  }
  p {
    color: $white-color;
    font-size: 2em;
    margin-bottom: 2.5em;
  }
  form {
    margin-top: 2em;
  }
  mat-form-field {
    margin-right: 1em;
  }
  button {
    margin-left: 1em;
  }
  #services h1{
    margin-left: 75px;
    color: black;
    font-size: 30px;
    font-weight: 700px;
    margin-bottom: 20px;
  }