.sign-in-button{
    padding-inline: 30px;
    padding-block: 3px;
    background-color: $white-color;
    color: $purple-color;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}
.search-button{
    color: $white-color;
    background-color: $purple-color-2;
    padding-inline: 30px;
    padding-block: 20px;
    border: none;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 2px;
    border-radius: 5px;
    margin-bottom: 30px;
}